<nav class="navbar">
  <div class="nav-logo">
    <a href="index.html">Food Delivery</a>
  </div>

  <ul class="nav-links">
    <li><a href="index.html">Home</a></li>
    <li><a href="products.html">Menu</a></li>

    <li id="cartLink"><a href="cart.html">Cart</a></li>

    <li id="profilePageLink" style="display: none;">
      <a href="profile.html">Profile</a>
    </li>

    <li id="adminLink" style="display: none;">
      <a href="admin.html">Admin</a>
    </li>

    <li id="loginLink"><a href="login.html">Login</a></li>
    <li id="registerLink"><a href="register.html">Register</a></li>


  </ul>
</nav>